<h1>Exercice Local Storage</h1>
<p>Dans votre project angular dans le module exos, ajouter des composants, un par produits cités plus bas, et un composant panier.
 
    Les composants de produits affichent le nom du produit, et un formulaire de quantité.
    Pour le formulaire de quantité : <br>
        - si le produit n'est pas présent dans le panier, utilisez un "select" comprenant les valeurs de 1 à 5, et un bouton "acheter". <br>
        - sinon, utiliser un "input" de type number avec déjà la quantité du panier, et un bouton "Mettre à jour".
     <br>
    Dans le composant panier, une liste des éléments sauvegardés doit être affiché : nom et quantité. Si pas de produits dans le panier, affichez un message "Panier vide". <br>
    Pour chaque produit du panier, afficher un bouton supprimant l'élément du panier.
     
    Les produits sont : <br>
        - Téléphone <br>
        - Ordinateur <br>
        - Batterie</p>

